<%= form_for(@card) do |f| %>
	<div class='field'>
		<%= f.label :front %>
		<%= f.text_area :front %>
	</div>

	<div class='field'>
		<%= f.label :back %>
		<%= f.text_area :back %>
	</div>

	<div class='actions'>
		<%= f.submit %>
	</div>
<% end %>
