<%= form_for(@card) do |f| %>
	<fieldset>
		<legend><%= @form_title %></legend>

		<%= f.label :front %>
		<%= f.text_area :front %>

		<%= f.label :back %>
		<%= f.text_area :back %>

		<div>
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>
